@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,400;1,500;1,600&display=swap");
body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

aside {
  background: #DDB88C;
  width: 276px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  padding: 25px 0;
  color: #4c180a;
}

@media (max-width: 550px) {
  aside {
    display: none;
  }
}

.menu {
  border-top: 3px solid #4c180a;
  border-bottom: 3px solid #4c180a;
  padding: 15px 0;
}

.navbar-nav .nav-link {
  color: #fff;
  line-height: 36px;
  font-size: 18px;
}

.social i {
  font-size: 23px;
  color: #4c180a;
  padding: 20px 15px;
}

main {
  position: relative;
  left: 285px;
  width: 77%;
}

@media (max-width: 550px) {
  main {
    position: relative;
    left: 0;
    width: 100%;
  }
}

header .item {
  height: 100vh;
  position: relative;
}

header .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header .item .cover {
  padding: 75px 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .item .cover .header-content {
  position: relative;
  padding: 56px;
  overflow: hidden;
}

header .item .cover .header-content .line {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border: 9px solid #fff;
  -webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
  clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
}

header .item .cover .header-content h2 {
  font-weight: 300;
  font-size: 35px;
  color: #fff;
}

header .item .cover .header-content h1 {
  font-size: 56px;
  font-weight: 600;
  margin: 5px 0 20px;
  word-spacing: 3px;
  color: #fff;
}

header .item .cover .header-content h4 {
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
  color: #fff;
}

header .owl-item.active h1 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

header .owl-item.active h2 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

header .owl-item.active h4 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

header .owl-item.active .line {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

header .owl-nav .owl-prev {
  position: absolute;
  left: 15px;
  top: 43%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background: rgba(0, 0, 0, 0.5) !important;
  width: 40px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  display: block;
  z-index: 1000;
  border-radius: 0;
}

header .owl-nav .owl-prev span {
  font-size: 1.6875rem;
  color: #fff;
}

header .owl-nav .owl-prev:focus {
  outline: 0;
}

header .owl-nav .owl-prev:hover {
  background: #000 !important;
}

header .owl-nav .owl-next {
  position: absolute;
  right: 15px;
  top: 43%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
  background: rgba(0, 0, 0, 0.5) !important;
  width: 40px;
  cursor: pointer;
  height: 40px;
  position: absolute;
  display: block;
  z-index: 1000;
  border-radius: 0;
}

header .owl-nav .owl-next span {
  font-size: 1.6875rem;
  color: #fff;
}

header .owl-nav .owl-next:focus {
  outline: 0;
}

header .owl-nav .owl-next:hover {
  background: #000 !important;
}

header:hover .owl-prev {
  left: 0px;
  opacity: 1;
}

header:hover .owl-next {
  right: 0px;
  opacity: 1;
}

.box {
  position: relative;
}

.sbox {
  color: #036c78;
  font-family: 'Zen Maru Gothic', sans-serif;
  text-align: center;
  padding: 30px 25px 40px;
  border-radius: 0 80px;
  border: 2px dashed #036c78;
  border-top-color: #036c78;
  border-right-color: #036c78;
  border-bottom-color: #036c78;
  border-left-color: #036c78;
  position: relative;
  z-index: 1;
}

.sbox span {
  font-size: 44px;
}

.sbox span i {
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.sbox span:hover i {
  -webkit-transform: rotateX(360deg);
          transform: rotateX(360deg);
}

.sbox::after {
  content: "";
  width: 130px;
  height: 70px;
  position: absolute;
  border-top: 20px solid #4c180a;
  border-left: 20px solid #4c180a;
  top: -9px;
  left: -9px;
  z-index: -2;
}

.block4 {
  background: url(../img/aboutbg.png);
}

.a img {
  width: 300px;
  height: 400px;
}

.ww {
  position: absolute;
  left: -20%;
  top: -10%;
}
/*# sourceMappingURL=style.css.map */